<!DOCTYPE html>
<html>
<head>
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  
  <title><%= @title %></title>
  <%= render 'layouts/stylesheets' %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div class="container">
    <%= render 'layouts/header' %>
    <section class="round">
      <%= yield %>
    </section>
    <%= render 'layouts/footer' %>
  </div>
</body>
</html>
